@model etkinlikSitesi.Models.Kayit

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Kayit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.AdiSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.AdiSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etkinlik.EtkinlikAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etkinlik.EtkinlikAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KayitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
